<!DOCTYPE html>
<html>
    <head>
        
    
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
       <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
       <link rel="stylesheet" href="/stylesheets/main.css">
       <!--<link rel="stylesheet" href="/stylesheets/landing.css">-->
       <title>abar hail</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class='navbar-header'>
            <a class="navbar-brand"href="/">Fahad Al-Jeneede Est</a>
        </div>
        <div class="justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                
                
                                <div class="form-inline">
           
                    <% if(!currentuser){%>
                    <li class="nav-item">
                 <a class="nav-link text-warning" href="/login">Login</a>
            </li>
            <% }else{%>
            
            <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-warning" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <%=currentuser.firstname%>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="/addemployee">Add new employee</a>
        <a class="dropdown-item" href="/register">Add new admin</a>
        <a class="dropdown-item" href="/logout">Logout</a>
        </div>
      </li>
            
            <% }%>
            </div>

            </div>
            </div>
            </nav>
            <!--<div class="container">-->
    <%if(error && error.length>0){%>
    <div class="alert alert-danger"id="margin" role="alert">
  <%=error%>
</div>
<%}%>
<%if(success && success.length>0){%>
<div class="alert alert-success"id="margin" role="alert">
  <%=success%>
</div>
<%}%>
<!--</div>-->
            