<!DOCTYPE html>
<html>
    <head>
        <title>abar hail</title>
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
       <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
       <link rel="stylesheet" href="/stylesheets/main.css">
       <!--<link rel="stylesheet" href="/stylesheets/landing.css">-->
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class='navbar-header'>
            <a class="navbar-brand"href="/">Fahad Al-Jeneede Est</a>
        </div>
        <div class="justify-content-end" id="navbarSupportedContent">
<!--            <ul class="navbar-nav">-->
<!--                <div class="form-inline">-->
                    
<!--                    <li class="nav-item">-->
<!--                 <a class="nav-link text-warning" href="/login">Login</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                 <a class="nav-link text-danger" href="/register">Signup</a>-->
<!--            </li>-->
            
       
<!--<li class="nav-item">-->
<!--          <a class="dropdown-item text-success" href="/logout">Logout</a>-->
<!--      </li>-->
            
          
<!--            </div>-->
<!--            </ul>-->
            </div>
            </div>
            </nav>
            <!--<div class="container">-->
    <%if(error && error.length>0){%>
    <div class="alert alert-danger"id="margin" role="alert">
  <%=error%>
</div>
<%}%>
<%if(success && success.length>0){%>
<div class="alert alert-success"id="margin" role="alert">
  <%=success%>
</div>
<%}%>
<!--</div>-->
            