#margin{
    margin-bottom:0;
}
#inline{
    display: inline;
}
.column {
  float:right;
  width: 3.65%;
}
.border
    {
  border: 1px solid black;
}
.column2 {
  float:right;
  width: 5.5%;
}
.column3 {
  float:right;
  width: 6.5%;
}
.column4 {
  float:right;
  width: 8%;
}
.column5 {
  float:right;
  width: 23%;
}
.column6 {
  float:right;
  width: 2%;
}
.column7 {
  float:right;
  width: 13.7%;
}
