<%- include ('../partials/header')%>


<header class="jumbotron"style="background-image:url(https://res.cloudinary.com/djweoyvdx/image/upload/v1588074420/CamScanner_04-28-2020_13.27.16_2-1_hzuuch.jpg); background-size:100%;background-repeat:no-repeat;height:260px;">
    <!--  <div class="container">-->
          
    <!--      <h1>Fahad Al-Jeneede Est For Trading</h1>-->
    <!--<p>A Water Trading Company</p>-->
    <!--<p>-->
    <!--    <a class="btn btn-primary btn-large" href="/addemployee">Add new employee</a>-->
    <!--    </p>-->
    <!--  </div>-->
    
</header>



<div class="container">
    
    <div class="row">
        <div class="col-md-4">
            <div class="list-group">
               <li class="list-group-item"> 
                <div class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    Sales
  </a>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="/sales/addsales">Add sale</a>
     <a class="dropdown-item" href="/sales/viewsales">View sales</a>
    <a class="dropdown-item" href="/sales/salerecipt">Add cash received</a>
    <a class="dropdown-item" href="/sales/viewallrecipt">View cash received</a>
    <a class="dropdown-item" href="/sales/issueitem">Issue item</a>
    <a class="dropdown-item" href="/sales/viewissued">View issued item</a>
    <a class="dropdown-item" href="/sales/creditcash">Credit/cash detail</a>
  </div>
</div>
 </li>
 
 
 <li class="list-group-item"> 
                <div class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    Inventory
  </a>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="/inventory/update">Update inventory</a>
    <a class="dropdown-item" href="/inventory/viewinventory">View inventory</a>
  </div>
</div>
 </li>
 
 
               
               <li class="list-group-item"> 
                <div class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    Expenses
  </a>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="/expenses/addsalary">Add salary</a>
    <a class="dropdown-item" href="/expenses/viewsalary">View salary</a>
    <a class="dropdown-item" href="/expenses/addcaranddeisel">Add car maintainance and deisel</a>
     <a class="dropdown-item" href="/expenses/viewcaranddeisel">View car maintainance and deisel</a>
        <a class="dropdown-item" href="/expenses/addgovtfees">Add govt fees</a>
        <a class="dropdown-item" href="/expenses/viewgovtfees">View govt fees</a>
            <a class="dropdown-item" href="/expenses/addtrailorrent">Add trailor rent</a>
            <a class="dropdown-item" href="/expenses/viewtrailorrent">View trailor rent</a>
                <a class="dropdown-item" href="/expenses/addextra">Add office miscellaneous expenses</a>
                <a class="dropdown-item" href="/expenses/viewextra">View office miscellaneous expenses</a>
                <a class="dropdown-item" href="/expenses/viewexpenses">View all expenses</a>
  </div>
</div>
 </li>       
            <li class="list-group-item"> 
                <div class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    Money to bank
  </a>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="/expenses/addtobank">Deposit money</a>
    <a class="dropdown-item" href="/expenses/viewtobank">View deposited money</a>
  </div>
</div>
 </li>
 
 
 <li class="list-group-item"> 
                <div class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    Office work
  </a>
  <div class="dropdown-menu">
       <a class="dropdown-item" href="/expenses/salaryslip">Generate salary slip</a>
       <a class="dropdown-item" href="/expenses/viewcashflow">View cash flow</a>
       <a class="dropdown-item" href="/balancesheet">Monthly Balancesheet</a>
    <a class="dropdown-item" href="/expenses/addpurchaseditem">Place order</a>
    <a class="dropdown-item" href="/expenses/viewpurchaseditem">View purchased order</a>
  </div>
</div>
 </li> 
<!--  <li class="list-group-item"> -->
<!--                <div class="dropdown">-->
<!--  <a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
<!--    Update credit-->
<!--  </a>-->
<!--  <div class="dropdown-menu">-->
<!--    <a class="dropdown-item" href="/credit/updatecreditsale">Update Item on truck</a>-->
<!--    <a class="dropdown-item" href="/credit/updatecreditcash">credit cash</a>-->
<!--     <a class="dropdown-item" href="/credit/updatecredittotalcash">cash in hand</a>-->
<!--  </div>-->
<!--</div>-->
<!-- </li>-->
 
 
                <li class="list-group-item"> 
                <div class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    Set sale price
  </a>
  <div class="dropdown-menu">
      <form action="/sales/setprice" method="post">
        <input class="form-control dropdown-item" type="text" name="price[price200ml]" placeholder="200ml price" required>
        <input class="form-control dropdown-item" type="text" name="price[price330ml]" placeholder="330ml price" required>
        <input class="form-control dropdown-item" type="text" name="price[price600ml]" placeholder="600ml price" required>
        <input class="form-control dropdown-item" type="text" name="price[price1500ml]" placeholder="1.5l price" required>
        <input class="form-control dropdown-item" type="text" name="price[price5000ml]" placeholder="5l price" required>
        <input class="form-control dropdown-item" type="text" name="price[vat]" placeholder="vat %" required>
     <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block">Update</button>
            </div>
    </form>
  </div>
</div>
 </li>             
 
                 <li class="list-group-item"> 
                <div class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    Set home sale price
  </a>
  <div class="dropdown-menu">
      <form action="/sales/sethomeprice" method="post">
        <input class="form-control dropdown-item" type="text" name="price[price200ml]" placeholder="200ml price" required>
        <input class="form-control dropdown-item" type="text" name="price[price330ml]" placeholder="330ml price" required>
     <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block">Update</button>
            </div>
    </form>
  </div>
</div>
 </li> 
 
 <li class="list-group-item"> 
                <div class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    Set purchased ctc
  </a>
  <div class="dropdown-menu">
      <form action="/sales/setctcprice" method="post">
        <input class="form-control dropdown-item" type="text" name="price[price200ml]" placeholder="200ml price" required>
        <input class="form-control dropdown-item" type="text" name="price[price330ml]" placeholder="330ml price" required>
        <input class="form-control dropdown-item" type="text" name="price[price600ml]" placeholder="600ml price" required>
        <input class="form-control dropdown-item" type="text" name="price[price1500ml]" placeholder="1.5l price" required>
        <input class="form-control dropdown-item" type="text" name="price[price5000ml]" placeholder="5l price" required>
     <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block">Update</button>
            </div>
    </form>
  </div>
</div>
 </li>             
 
 
            </div>
            
            
            
        </div>
        

        
        
        
        
        
    </div>
    
    
    
</div>



<%- include ('../partials/footer')%>