<%- include ('../partials/header')%>

<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<section class="container-fluid px-0">
<img  src="https://res.cloudinary.com/djweoyvdx/image/upload/v1588074420/CamScanner_04-28-2020_13.27.16_2-1_hzuuch.jpg"class="img-fluid" alt="">
</section>



<div class="container">
    
    <div class="row text-center">
        <div class="col-md-12">
            <div class="list-group">
               <li class="list-group-item"> 
                <div class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    Sales
  </a>
  <div class="dropdown-menu">
                 <%if(currentuser && currentuser.isadmin.toString()==="true"){%>
    <a class="dropdown-item" href="/sales/addsales">Add Sale</a>
    <% } %>
     <a class="dropdown-item" href="/sales/viewsales">View Sale</a>
     <%if(currentuser && currentuser.isadmin.toString()==="true"){%>
    <a class="dropdown-item" href="/sales/salerecipt">Add Cash Received</a>
        <% } %>
    <a class="dropdown-item" href="/sales/viewallrecipt">View Cash Received</a>
    <%if(currentuser && currentuser.isadmin.toString()==="true"){%>
    <a class="dropdown-item" href="/sales/issueitem">Add Issued Item</a>
        <% } %>
    <a class="dropdown-item" href="/sales/viewissued">View Issued Item</a>
    <a class="dropdown-item" href="/sales/creditcash">Credit/Cash Detail</a>
  </div>
</div>
 </li>
 
               <li class="list-group-item"> 
                <div class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    Expenses
  </a>
  <div class="dropdown-menu" style="margin-top:70px">
          <%if(currentuser && currentuser.isadmin.toString()==="true"){%>
    <a class="dropdown-item" href="/expenses/addsalary">Add Salary And Commission</a>
            <% } %>
    <a class="dropdown-item" href="/expenses/viewsalary">View Salary And Commission</a>
        <%if(currentuser && currentuser.isadmin.toString()==="true"){%>
    <a class="dropdown-item" href="/expenses/addcaranddeisel">Add Car Maintenance And Diesel</a>
            <% } %>
     <a class="dropdown-item" href="/expenses/viewcaranddeisel">View Car Maintenance And Diesel</a>
         <%if(currentuser && currentuser.isadmin.toString()==="true"){%>
        <a class="dropdown-item" href="/expenses/addgovtfees">Add Govt Fees</a>
                <% } %>
        <a class="dropdown-item" href="/expenses/viewgovtfees">View Govt Fees</a>
            <%if(currentuser && currentuser.isadmin.toString()==="true"){%>
            <a class="dropdown-item" href="/expenses/addtrailorrent">Add Trailer Rent</a>
                    <% } %>
            <a class="dropdown-item" href="/expenses/viewtrailorrent">View Trailer Rent</a>
                <%if(currentuser && currentuser.isadmin.toString()==="true"){%>
                <a class="dropdown-item" href="/expenses/addextra">Add Office Miscellaneous Expenses</a>
                        <% } %>
                <a class="dropdown-item" href="/expenses/viewextra">View Office Miscellaneous Expenses</a>
                <%if(currentuser && currentuser.isadmin.toString()==="true"){%>
                <a class="dropdown-item" href="/expenses/addfixedexpenses">Add Fixed Expenses</a>
                    <% } %>
                <a class="dropdown-item" href="/expenses/viewfixedexpenses">View Fixed Expenses</a>
                <a class="dropdown-item" href="/expenses/viewexpenses">View All Expenses</a>
  </div>
</div>
 </li>  
 
 <li class="list-group-item"> 
                <div class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    Inventory
  </a>
  <div class="dropdown-menu">
      <%if(currentuser && currentuser.isadmin.toString()==="true"){%>
    <a class="dropdown-item" href="/inventory/update">Update Inventory</a>
    <% } %>
    <a class="dropdown-item" href="/inventory/viewinventory">View Inventory</a>
  </div>
</div>
 </li>
 
 
            <li class="list-group-item"> 
                <div class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    Money To Bank
  </a>
  <div class="dropdown-menu">
      <%if(currentuser && currentuser.isadmin.toString()==="true"){%>
    <a class="dropdown-item" href="/expenses/addtobank">Add Deposited Money</a>
    <% } %>
    <a class="dropdown-item" href="/expenses/viewtobank">View Deposited Money</a>
  </div>
</div>
 </li>
 
 
 <li class="list-group-item"> 
                <div class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    Admin Work
  </a>
  <div class="dropdown-menu">
      <%if(currentuser && currentuser.isadmin.toString()==="true"){%>
       <a class="dropdown-item" href="/expenses/salaryslip">Generate Salary Slip</a>
       <% } %>
       <a class="dropdown-item" href="/expenses/viewcashflow">View Cash Flow</a>
       <a class="dropdown-item" href="/balancesheet">Monthly Balancesheet</a>
       <%if(currentuser && currentuser.isadmin.toString()==="true"){%>
    <a class="dropdown-item" href="/expenses/addpurchaseditem">Place Purchase Order</a>
    <% } %>
    <a class="dropdown-item" href="/expenses/viewpurchaseditem">View Purchase Order</a>
    <a class="dropdown-item" href="/viewemployee">View Employee</a>
  </div>
</div>
 </li> 

        <%if(currentuser && currentuser.isadmin.toString()==="true"){%>
 
                <li class="list-group-item"> 
                <div class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    Set Sale Price
  </a>
  <div class="dropdown-menu">
      <form action="/sales/setprice" method="post">
        <input class="form-control dropdown-item" type="text" name="price[price200ml]" placeholder="200ml price" required>
        <input class="form-control dropdown-item" type="text" name="price[price330ml]" placeholder="330ml price" required>
        <input class="form-control dropdown-item" type="text" name="price[price600ml]" placeholder="600ml price" required>
        <input class="form-control dropdown-item" type="text" name="price[price1500ml]" placeholder="1.5L price" required>
        <input class="form-control dropdown-item" type="text" name="price[price5000ml]" placeholder="5L price" required>
        <input class="form-control dropdown-item" type="text" name="price[vat]" placeholder="vat %" required>
     <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block">Update</button>
            </div>
    </form>
  </div>
</div>
 </li>             
 
                 <li class="list-group-item"> 
                <div class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    Set Home Sale Price
  </a>
  <div class="dropdown-menu">
      <form action="/sales/sethomeprice" method="post">
        <input class="form-control dropdown-item" type="text" name="price[price200ml]" placeholder="200ml price" required>
        <input class="form-control dropdown-item" type="text" name="price[price330ml]" placeholder="330ml price" required>
        <input class="form-control dropdown-item" type="text" name="price[price600ml]" placeholder="600ml price" required>
        <input class="form-control dropdown-item" type="text" name="price[price1500ml]" placeholder="1.5L price" required>
        <input class="form-control dropdown-item" type="text" name="price[price5000ml]" placeholder="5L price" required>
     <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block">Update</button>
            </div>
    </form>
  </div>
</div>
 </li> 
 
 <li class="list-group-item"> 
                <div class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    Set Purchased CTC
  </a>
  <div class="dropdown-menu">
      <form action="/sales/setctcprice" method="post">
        <input class="form-control dropdown-item" type="text" name="price[price200ml]" placeholder="200ml price" required>
        <input class="form-control dropdown-item" type="text" name="price[price330ml]" placeholder="330ml price" required>
        <input class="form-control dropdown-item" type="text" name="price[price600ml]" placeholder="600ml price" required>
        <input class="form-control dropdown-item" type="text" name="price[price1500ml]" placeholder="1.5L price" required>
        <input class="form-control dropdown-item" type="text" name="price[price5000ml]" placeholder="5L price" required>
        <input class="form-control dropdown-item" type="text" name="price[vat]" placeholder="vat %" required>
     <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block">Update</button>
            </div>
    </form>
  </div>
</div>
 </li>             
 <% } %>
 
            </div>
            
            
            
        </div>
        

        
        
        
        
        
    </div>
    
    
    
</div>



<%- include ('../partials/footer')%>